.container{
    display: flex;
    border: black;
    border-style: solid;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}

.buttons{
    display: flex;
    
    
    flex-direction: row;
    background: chartreuse;
    justify-content: space-around;
     
}