.container{
    display: flex;
    border: black;
    border-style: solid;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}

.buttons{
    display: flex;
    
    
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    
}

.arrows{
    border: none;
    background: none;
    font-family: monospace;
    text-align: center;
}

.arrows:hover{
    border: none;
    background: none;
    font-family: monospace;
    color: darkorange;
}