.container{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.buttons{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    
} 

.arrows{
    border: none;
    background: none;
    font-family: monospace;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
}

.arrows:hover{
    border: none;
    background: none;
    font-family: monospace;
    color: lightblue;
}

.playPause{
    background-color: lightblue;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentTime,
.durationTime{
    font-size: 16px;
    font-family: monospace;
}

.bar{
    background: black;
    outline: none;
    
    height: 11px;
    border-radius: 10px;
    border: lightblue;
    border-style: solid;
    appearance: none;
    
}

